<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choices_form</title>
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
</head>
<body>
    
<form action="/process/" method="post">

<div class="choices">

<input class="input-c" style="margin: 2px;" name="choice1" type="text" placeholder="Choice 1" required><br>
<input class="input-c" style="margin: 2px;" name="choice2" type="text" placeholder="Choice 2" required><br>
<input class="input-c" style="margin: 2px;" name="choice3" type="text" placeholder="Choice 3" required><br>
<input class="input-c" style="margin: 2px;" name="choice4" type="text" placeholder="Choice 4" required><br>
<input class="input-c" style="margin: 2px;" name="choice5" type="text" placeholder="Choice 5" required><br>
<input class="input-c" style="margin: 2px;" name="choice6" type="text" placeholder="Choice 6" required><br>
<input class="input-c" style="margin: 2px;" name="choice7" type="text" placeholder="Choice 7" required><br>
<input type="submit" class="btn" value="ADD"><br>

</div>



</form>




</form>


</body>
</html>